/*estilos generales*/
body{
    padding: 0;
    margin: 0;
}
.row{
    margin: 0;
}
.header {
    position: sticky; 
    background-color: rgb(68, 187, 164);
    top: 0;
    height:auto;
    z-index: 20;
    padding: 0;
    border:1px solid  black;
    margin-bottom: 40px;
}
a{
    color:white;
    text-decoration: none !important;
}
.logo{
    position: relative;
    
    height: 85px;
    width: 170px;
}
ul { 
    text-align: center;
    position: relative;
    list-style-type: none;
    margin: auto;
    padding: 0;
      
}

li {
   
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
    
  
}
.imcarru{
    
    width: 100%!important;
    max-height: 500px;
    
    margin: auto; 
}
.productoMuestra{
    
    overflow: hidden;
    font-weight: bolder;
    display:inline-block!important;   
    padding: 20px;
    text-align: center; 
    height: 270px;
    transition:all  3s;
    border-radius: 20px;    
    
}

.producto{
    
    overflow: hidden;
    font-weight: bolder;
    display:inline-block!important;   
    padding: 20px;
    text-align: center; 
    height: 270px;
    transition:all  3s;
    border-radius: 20px;    
    
}

.productoMuestra:hover{
    height: 400px;
   
}
.producto:hover{
    height: 430px;
   
}


.menu{
    display: inline-block;
}

.web{
    width: 40px;
    height: 40px;
}

.footer {
    position: relative;
    background-color: rgb(68, 187, 164);
    
    text-align: center;
    font-size: 20;
    padding: 0px;
  }

.center{
    text-align: center;
}


@media only screen and (max-width: 768px){
    .producto{
        margin:30px auto;
    }
    .menu{
        display: block;
    }
}