{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <script>
        function Agregar(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/agregarProductoCarro?id="+id);
            xhr.send();
        }
        function Eliminar(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/eliminarProductoCarro?id="+id);
            xhr.send();
        }
        function Menos(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/menosProductoCarro?id="+id);
            xhr.send();
        }
        function borrar(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/eliminarCarro?");
            xhr.send();
        }
        //oferta/
        function Agregar1(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/agregarOfertaCarro?id="+id);
            xhr.send();
            
        }
        function Eliminar1(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/eliminarOfertaCarro?id="+id);
            xhr.send();
        }
        function Menos1(ele){
            id =ele.getAttribute("id");
            console.log(ele.getAttribute("id"));
            var xhr= new XMLHttpRequest();
            xhr.open("get","/menosOfertaCarro?id="+id);
            xhr.send();
        }

    </script>

</head>
    <body>
        <div class="header col-12">
            <div class="row">
                <div class="col-sm-12 col-md-3 center">
                    <img class="logo" src="{% static 'Images/logotipo.png' %}">
                </div>
                    
                <div class="col-12 col-md-6 center">
                    <ul class="col-md-12">
                        <li class="menu"><a onclick="history.back(-1)" class="link-button link-back-button">volver</a></li>
                    
                        <li class="menu"><a href="/">Contacto</a></li>
                        <li class="menu"><a href="login">inicio secion</a></li>
                        <li class="menu"><a href="carrito">carrito</a></li>

                    </ul>
                </div>
            </div>
        </div> 

        


        <div class="col-12 center">
            <h1> productos en el carrito</h1>
            <div class=" row  col-12" >
                        

                <li class="menu" style="width: 12.5%; padding: 0;">nombre</li>
                <li class="menu" style="width: 12.5%; padding: 0;">cantidad</li>
                <li class="menu" style="width: 12.5%; padding: 0;">preciounidad</li>
                <li class="menu" style="width: 12.5%; padding: 0;">preciototal</li>

            </div>
            <div class="row">
                {% for key,value in carrito %}
    
                    
                    <div class=" row  col-12" >
                        
                        <li class="menu" style="width: 14%; padding: 0;">{{ value.nombre }}</li>
                        <li class="menu" style="width: 14%; padding: 0;">{{ value.cantidad}}</li>
                        <li class="menu" style="width: 14%; padding: 0;"><span>$</span>{{ value.precio }}</li>
                        <li class="menu" style="width: 14%; padding: 0;"><span>$</span>{{ value.subTotal }}</li>
                        
                        <form id="agregar" action="/agregarProductoCarro"  style="width: 14%; padding: 0;" >
                            <input name="id" type="hidden" value={{key}}>
                            <button id={{key}}>+1</button>
                        </form>
        
                        <form action="/menosProductoCarro" style="width: 14%; padding: 0;">
                            <input name="id" type="hidden" value={{key}}>
                            <button  id={{key}}>-1</button>
                        </form>
                        <form action="/eliminarProductoCarro" style="width: 14%; padding: 0;">
                            <input name="id" type="hidden" value={{key}}>
                            <button  id={{key}}>eliminar</button>
                        </form>
                        
                        
                    </div>
                     
                {% endfor %}
               <!-- <form action="/eliminarCarro">
                <button style="width: 12.5%; padding: 0;">borrar el carrito</button>
                </form>-->
            </div> 

            <div class="row">
                {% for key,value in carrito1 %}
    
                    
                    <div class=" row  col-12" >
                        
                        <li class="menu" style="width: 14%; padding: 0;">{{ value.nombre }}</li>
                        <li class="menu" style="width: 14%; padding: 0;">{{ value.cantidad}}</li>
                        <li class="menu" style="width: 14%; padding: 0;"><span>$</span>{{ value.precio }}</li>
                        <li class="menu" style="width: 14%; padding: 0;"><span>$</span>{{ value.subTotal }}</li>
                        
                        <form id="agregar" action="/agregarOfertaCarro" action="/carrito"  style="width: 14%; padding: 0;" >
                            <input name="id" type="hidden" value={{key}}>
                            <button id={{key}}>+1</button>
                        </form>
        
                        <form action="/menosOfertaCarro" style="width: 14%; padding: 0;">
                            <input name="id" type="hidden" value={{key}}>
                            <button  id={{key}}>-1</button>
                        </form>
                        <form action="/eliminarOfertaCarro" style="width: 14%; padding: 0;">
                            <input name="id" type="hidden" value={{key}}>
                            <button  id={{key}}>eliminar</button>
                        </form>
                        
                        
                    </div>
                     
                {% endfor %}
               <!-- <form action="/eliminarCarro">
                <button style="width: 12.5%; padding: 0;">borrar el carrito</button>
                </form>-->
            </div> 
            <!--<div><p>{{ total}}</p></div>-->

        </div>
    

        <div class="footer col-md-12" style="position:absolute;">
            <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3" >
                <ul><h2 style="color: black">Menu</h2>
                     <li><a href="/">Inicio</a></li>
                  
                     <li><a href="/">Contacto</a></li>
                     <li><a href="/">inicio secion</a></li>

                </ul>  
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" >
                <ul><h2 style="color: black">servicios</h2>
                    <li><a href="#">domiciliario</a></li>
                    <li><a href="#">telefonico</a></li>
                    <li><a href="#">local</a></li>

                </ul>  
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" >
                <ul><h2 style="color: black">horarios</h2>
                    <li><a href="#">lunea a viernes <br>   
                    8:00 a 22:00</a></li>
                    <li><a href="#">sabado a domingo <br>   
                     9:00 a 21:00</a></li>

                </ul>  
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3" >
                <ul><h2 style="color: black">Especialistas</h2>
                    <li><a href="#">Oscar Quezada</a></li>
                    <li><a href="#">Andrew Quezada</a></li>
                    <li><a href="#">Jose Caro</a></li>
                   

                </ul> 


            </div>
            <div class="col-12">
                <p class="center" style=" color: black;">Antonio Varas 666, Providencia, Región Metropolitana</p>
            </div>
            <div style="text-align: end;" class="col-sm-12">

                <div class=" col-sm-12">
                    <a href="https://www.facebook.com/"><img class="web" style="left: auto" src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-icono-de-facebook-logo-by-vexels.png"></a>
                    <a href="https://web.whatsapp.com/"> <img class="web" style="left: auto" src="https://img.icons8.com/plasticine/2x/whatsapp.png"></a>
                    <a href="https://www.instagram.com/"><img class="web" style="left: auto" src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo-6.png"></a>
                </div>
            </div>
        </div>
   
    </body>

</html>    