{%load static%}
{% load widget_tweaks %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/logins.css' %}">
        
        <title>Document</title>
        <script>
            function comprobar(ele){
             
              
                var xhr= new XMLHttpRequest();
                xhr.onreadystatechange=function(){
                    if (xhr.status==200){
                        alert("usuario o clave incorrecto");
                    }
                    
                }
                xhr.send();
            }
        </script>
    </head>
    <body >
        
       <div class="col-6 col-sm-4 col-md-3  center border color " >
            <h2 class="">Iniciar sesión</h2>
            <form method="POST" class="post-form" style="display: block;">
                {% csrf_token %}
                <div>
                    {% render_field form.nikename placeholder="nikname" %} 
                </div>
                <div>
                    {% render_field form.password placeholder="*******" %} 
                </div>
                <div>
                    <button id={{from.id}} onclick="comprobar" type="submit">Login</button>
                </div>
            </form>
            
                
            
            <div>
                <a href="/register">Registrar usuario</a>
            </div>
            

          
            
       </div>
    </body>
</html>