{% load static %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/regmascota">Registrar mascota</a>
    {% if mascota %}
            {% for masc in mascota %}
                
            <div class=" row mascota col-8 col-sm-4 col-lg-3 " style="margin: 30px auto;"  >
                
                <h2>{{ masc.rut }} </h2>
                {% if masc.tipo == 'P' %}
                    <h2>Tamaño pequeño</h2>
                {% elif masc.tipo == 'M'%}
                    <h2>Tamaño Mediano</h2>
                {% else %}
                    <h2>Tamaño Grande</h2>
                {% endif %}

                <a href="/modmascotas">Modificar mascota</a>
            </div>
             
        {% endfor %}
    {% else %}
        No tiene mascota
    {% endif %}

</body>
</html>